/*Profile Pictures*/
.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: none;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;

    /* Initial state for animation */
    opacity: 0;
    transform: translateY(50px);
    animation: driftIn 1s ease-out forwards;
}

/* Profile Picture Styling */
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

/* Profile Details Styling */
.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #333;
}

.profile-description {
    font-size: 1em;
    color: #666;
    margin: 0;
}

/* Keyframes for the drift-in effect */
@keyframes driftIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes materialize {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Text altering */
.people h1 {
    font-size: 2.5rem;
    color: #18315b;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #338fcd;
    display: inline-block;
    padding-bottom: 5px;
}

.people-title {
    display: inline-block;
    opacity: 0;
    animation: materialize 0.5s ease-out forwards;
}